<configuration>
    <!-- Define properties -->
    <property name="LOG_DATEFORMAT_PATTERN" value="yyyy-MM-dd' 'HH:mm:ss.SSSXXX" />
    <property name="LOG_LEVEL_PATTERN" value="%5p" />
    <property name="LOG_EXCEPTION_CONVERSION_WORD" value="%ex" />
    <property name="APPLICATION_NAME" value="MyApp" />
    <property name="APPLICATION_GROUP" value="MyGroup" />
    <property name="PID" value="${PID:-}" />
    <property name="THREAD_NAME_PATTERN" value="%30.-30t" />
    <property name="LOGGER_PATTERN" value="%-60.60logger" />

    <!-- Console Log Pattern -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{${LOG_DATEFORMAT_PATTERN}} %highlight(%5p){DEBUG=cyan, INFO=green, WARN=yellow, ERROR=red, TRACE=blue} ${PID} --- [${THREAD_NAME_PATTERN}] ${LOGGER_PATTERN} : %m%n" />

    <property name="CONSOLE_LOG_CHARSET" value="UTF-8"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>${CONSOLE_LOG_CHARSET}</charset>
            <pattern>%d{${LOG_DATEFORMAT_PATTERN}} %highlight(%5p){DEBUG=cyan, INFO=green, WARN=yellow, ERROR=red, TRACE=blue} ${PID} --- [${THREAD_NAME_PATTERN}] ${LOGGER_PATTERN} : %m%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
